<div class="container">
  <br>
  <h1>Contadores</h1>
  <% Group.all.each do |group| %>
    <hr>
    <%= "#{group.name}: #{group.value}" %>
    <br>
    <%=  link_to "Ver contador" , group %>
    <br>
  <% end %>
</div>
